@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


#logo{
    align-content: center;
    width: 300px;
}
.title{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

span{

     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     align-items: center;
}

#form-row{
    
    margin-left: 10px;

}

.azulprima{

    background-color: #001457;
    color: #fff;
    border-radius: 50px;
}

.azulprima:hover{

    background-color: orangered;
    color: #fff;
    border-radius: 50px;
}


.orangered{
    
    background-color: orangered;
    color: #fff;
    border-radius: 50px;
    
}
.orangered:hover{

    background-color: #001457;
    color: #fff;
}

#registro{
    
    width: 50%;
    display: inline-block;
    vertical-align: top;

}
#registro_logo{
    width: 250px;

    display: inline-block;
    width: 50%;
    position: absolute;
    margin-top: 60px;

}
label{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

@media screen and (min-width: 360px) and (max-width: 900px) {

    #form-row{
        margin-left: 0px;
    }

    #registro_logo{
        display: none;
    }

    #registro{
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }

    p{
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        
    }
    

}
