@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@media screen and (min-width: 700px) {

 
    
    .nav-item{
        margin-right: 20px;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    #conteudo-left {
        margin-top: -20px;
        margin-left: 100px;
        width: 50%;
        height: 106.5%;
        float: left;
        background-color: white;
        color: black;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    .conteudo-right {
        width: 50%;
        height: contain;
        float: right;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
    }
    #conteudo-top {
        width: 100%;
        background-color: white;
    }
    #caixalupa {
        width: 550px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    #botaoarea {
        background-color: #353b47;
        border-color: #353b47;
        padding-left: 20px;
        margin-right: 20px;
        padding-top: 8px;
        padding-bottom: 8x;
        padding-right: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        
    }
    #ola {
        color: #001457;
        background-color: transparent;
        border-color: transparent;
        margin-right: 20px;
        margin-left: 5px;
    }
    #usuario {
        width: 200px;
    }
    #paineladminbotoes {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #paineladminright {
        margin-top: -280%;
        margin-left: 150%;
    }
    #paineladmintexto {
        font-size: 28px;
        color: black;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    #conteudo-right {
        width: 50%;
        height: contain;
        float: right;
        background-color: white;
        padding-left: 150px;
        margin-top: -50%;
    }
    #lupa {
        background-color: orangered;
        border-color: orangered;
    }
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: orangered;
    }
    #editarusuario {
        margin-top: 30px;
        margin-bottom: -30px;
    }
    hr {
        border: 1px solid #ccc;
    }
    p {
        font-size: 15px;
    }

}

@media screen and (max-width: 699px) {


    #profissional{
        position: relative;
        margin-top: -66px;
        margin-left: 250px;
    }
    #logo{
        margin-left: 20px;
    }
    .nav-item{

        margin-top: 20px;
        margin-left: 10px;
    }

    #conteudo-left {
        width: 100%;
        float: left;
        background-color: white;
        color: black;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    .conteudo-right {
        width: 50%;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
    }
    #conteudo-top {
        width: 100%;
        background-color: white;
    }
    #caixalupa {
        width: 360px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    #botaoarea {
        background-color: #353b47;
        border-color: #353b47;
        padding-left: 20px;
        margin-right: 20px;
        padding-top: 8px;
        padding-bottom: 8x;
        padding-right: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    #ola {
        color: #001457;
        background-color: transparent;
        border-color: transparent;
        margin-right: 20px;
    }
    #usuario {
        width: 200px;
    }
    #paineladminbotoes {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #paineladminright {
        margin-top: -280%;
        margin-left: 150%;
    }
    #paineladmintexto {
        font-size: 28px;
        color: black;
        margin-left: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    #conteudo-right {
        width: 50%;
        height: contain;
        float: right;
        background-color: white;
        padding-left: 150px;
        margin-top: -50%;
    }
    #lupa {
        background-color: orangered;
        border-color: orangered;
    }
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: orangered;
    }
    #editarusuario {
        margin-top: 30px;
        margin-bottom: -30px;
    }
    hr {
        border: 1px solid #ccc;
    }
    p {
        font-size: 15px;
    }
}